<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MY NAMESPACE -->
<mapper namespace="com.milanzaric.password_manager.repository.mapper.PasswordMapper">

    <sql id="columns">
        id, password_hash, user_id
    </sql>

    <!-- READ ALL -->
    <select id="findAll" resultType="Password">
        SELECT
        <include refid="columns"/>
        FROM passwords
        ORDER BY user_id
    </select>

    <!-- READ ONE -->
    <select id="findById" resultType="Password">
        SELECT
        <include refid="columns"/>
        FROM passwords
        WHERE id = #{id}
    </select>

    <!-- CREATE -->
    <insert id="insert">
        INSERT INTO passwords (id, password_hash, user_id)
        VALUES (#{id}, #{passwordHash}, #{userId})
    </insert>

    <!-- UPDATE -->
    <update id="update">
        UPDATE passwords
        SET password_hash = #{passwordHash}.
        user_id = #{userId}
        WHERE id = #{id}
    </update>

    <!-- DELETE -->
    <delete id="deleteById">
        DELETE FROM passwords
        WHERE id = #{id}
    </delete>

</mapper>
